@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


.navbar {
    box-shadow: 1px 1px 20px rgba(41, 40, 40, 0.486);
    background-color: white;
}

.navbar-brand {
    width: 210px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: #4F7336;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 30px;
}

.kullanici{
    border-radius: 50px;
}

.kullaniciAlani{
    width:155px;
    padding-left: 5%;
}

.sagaYasla
{
    justify-content: flex-end;
    width: 100%;
}

.yesilButon {
    clear: both;
    color: #F2EEEB;
    background-color: #F23005;
    transition: background-color 0.5s;
    width: max-content;
    padding: 8px 8px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.yesilButon:hover {
    background-color: #F26716;
    color: #F2EEEB;
    transition: background-color 0.5;
}


.butonHover button {
    clear: both;
    border: none;
    color: none;
    background-color: rgba(240, 255, 255, 0);
}

.butonHover:hover {
    background-color: #F2421B;
    color: #F2EEEB;
    transition: background-color 0.5s;
}